
<!-- Classes for headr -->
h1{
    color: green; 
}

table{
    background-color: lightgray;
}

<!-- descendants on the tabl -->
table td{
    text-align: center;
    color: white;
}

<!-- if resizing image -->
.listss{
    width: 200px;
    height: 250px;
}

